@import url(./base/variaveis.css);

body{
background: linear-gradient(#d2dce5,#fff );
background-repeat: no-repeat;
overflow: hidden;
width: 100vw;
height: 100vh;
font-family: var(--font-familia-corpo);


}
.container { 
    margin: 2em;
	padding-right: 1rem;
	padding-left: 1rem;
  
}

.flex {
	display: flex;
	flex-direction: column;

}

.container--centro {
	align-items: center;
	justify-content: center;
}

.container--coluna {
	flex-direction: column;
}




