@import url(./css/base/reset.css);
@import url(./css/base/variaveis.css);

body{
    background: linear-gradient(#fff, #d2dce5);
    font-family: var(--font-familia-corpo);
  
}
a{
    display: block;
    text-align: center;
    font-weight: 600;
    margin: 1em 1em;
}

.banner{
    margin: 84px;
}
.banner__titulo{
    font-size: 30px;
}
.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1b1f2e;
    font-family: var(--font-familia-logo);   
    font-size: 20px;
    color: #d2dce5;
}

.clientes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.5em;
}
 a:hover{
    text-decoration: underline;
}
.cliente1{ 
    display: flex;
    flex-wrap: wrap;
    margin: 0 1em;
    flex-direction: column;  
}

.cliente2{ 
    display: flex;
    flex-wrap: wrap;
    margin: 0 1em;
    flex-direction: column;   
}  
.cliente3{ 
    display: flex;
    flex-wrap: wrap;
    margin: 0 1em;
    flex-direction: column;  
} 
.cliente4{ 
    display: flex;
    flex-wrap: wrap;
    margin: 1em 1em;
    flex-direction: column;  
} 
.cliente5{ 
    display: flex;
    flex-wrap: wrap;
    margin: 0 1em;
    flex-direction: column;  
} 
.cliente6{ 
    display: flex;
    flex-wrap: wrap;
    margin: 0 1em;
    flex-direction: column;  
} 
.imagem__cliente{
    width: 297px;
    height: 166px;
}
.item__navegacao{
    display: flex;
}
.item__suporte{
    padding: 0 1.5em;
}
iframe#tela{
    margin: 1em 0 10em 0;
    width: 79vw;
    height: 600px;
    border: 2px solid black;
}
.rodape{
    color: #d2dce5;
    font-size: .8rem;
    grid-area: rodape;
    text-align: center; 
    padding: 1rem; 
    background: #1b1f2e;
}


