.botao{
    margin: 1.5em;
}
.botao-entrar{
    font-family: var(--font-familia-corpo);
    font-size: 16px;
    padding: 0.5em 3em;
    border: none;
    border-radius: 5px;
}
.botao button:hover{
    box-shadow: var(--cor-sombra);
    transform: rotate(0deg) scale(1.1);   
}
