 @import url(../base/variaveis.css);
 @import url(../base/reset.css);
.container{
    padding-right: 1rem;
    padding-left: 1rem; 
}
.cartao{
    border-radius: 10px;
    box-shadow: var(--cor-sombra);
    width: 30vw;
    height: 60vh ;
    max-width: 30rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.login-imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}
.imagem-logo{
    margin-bottom: 1.5rem;
    top: 5rem;
}
.cabecalho__titulo{
    font-size: 30px;
    font-family: var(--font-familia-logo);
    color: #002544;
}

